In [136]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [3]:
someday = dt.date(2010, 1, 20)

In [5]:
someday.year
someday.month

1

In [10]:
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

In [11]:
str(someday)

'2010-01-20'

In [12]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [14]:
sometime.day
sometime.hour

17

In [16]:
pd.Timestamp('2015-03-31')
pd.Timestamp('2021-03-08 6:13:29PM')

Timestamp('2021-03-08 18:13:29')

In [19]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
dtIndex = pd.DatetimeIndex(dates)

In [20]:
values = [100, 200, 300]
pd.Series(data=values, index=dtIndex)

2016-01-02    100
2016-04-12    200
2009-09-07    300
dtype: int64

In [23]:
pd.to_datetime('2001-04-19')
pd.to_datetime(['2001-04-19', '2012/04/14', '2017', 'July 4th, 1996'])

DatetimeIndex(['2001-04-19', '2012-04-14', '2017-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [25]:
times = pd.Series(['2001-04-19', '2012/04/14', '2017', 'July 4th, 1996'])

In [26]:
times

0        2001-04-19
1        2012/04/14
2              2017
3    July 4th, 1996
dtype: object

In [29]:
pd.to_datetime(times)

0   2001-04-19
1   2012-04-14
2   2017-01-01
3   1996-07-04
dtype: datetime64[ns]

In [31]:
dates = pd.Series(["July 4th, 1996", '10/04/1991', 'hello'])
dates

0    July 4th, 1996
1        10/04/1991
2             hello
dtype: object

In [33]:
pd.to_datetime(dates, errors='coerce')

0   1996-07-04
1   1991-10-04
2          NaT
dtype: datetime64[ns]

In [34]:
pd.to_datetime([1234332343, 2342324342, 323234432, 32343243], unit='s')

DatetimeIndex(['2009-02-11 06:05:43', '2044-03-23 05:39:02',
               '1980-03-30 03:20:32', '1971-01-10 08:14:03'],
              dtype='datetime64[ns]', freq=None)

In [63]:
times = pd.date_range(start='2016-01-01', end='2016-12-31', freq='MS')

In [64]:
times

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [69]:
pd.date_range(start='2012-09-09', periods=50, freq='H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 01:00:00',
               '2012-09-09 02:00:00', '2012-09-09 03:00:00',
               '2012-09-09 04:00:00', '2012-09-09 05:00:00',
               '2012-09-09 06:00:00', '2012-09-09 07:00:00',
               '2012-09-09 08:00:00', '2012-09-09 09:00:00',
               '2012-09-09 10:00:00', '2012-09-09 11:00:00',
               '2012-09-09 12:00:00', '2012-09-09 13:00:00',
               '2012-09-09 14:00:00', '2012-09-09 15:00:00',
               '2012-09-09 16:00:00', '2012-09-09 17:00:00',
               '2012-09-09 18:00:00', '2012-09-09 19:00:00',
               '2012-09-09 20:00:00', '2012-09-09 21:00:00',
               '2012-09-09 22:00:00', '2012-09-09 23:00:00',
               '2012-09-10 00:00:00', '2012-09-10 01:00:00',
               '2012-09-10 02:00:00', '2012-09-10 03:00:00',
               '2012-09-10 04:00:00', '2012-09-10 05:00:00',
               '2012-09-10 06:00:00', '2012-09-10 07:00:00',
               '2012-09-10 08:00:00', '2012-09-10 09:00:00',
               '2012-09-10 10:00:00', '2012-09-10 11:00:00',
               '2012-09-10 12:00:00', '2012-09-10 13:00:00',
               '2012-09-10 14:00:00', '2012-09-10 15:00:00',
               '2012-09-10 16:00:00', '2012-09-10 17:00:00',
               '2012-09-10 18:00:00', '2012-09-10 19:00:00',
               '2012-09-10 20:00:00', '2012-09-10 21:00:00',
               '2012-09-10 22:00:00', '2012-09-10 23:00:00',
               '2012-09-11 00:00:00', '2012-09-11 01:00:00'],
              dtype='datetime64[ns]', freq='H')

In [72]:
pd.date_range(end='1999-12-31', periods=40, freq='D')

DatetimeIndex(['1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-27', '1999-11-28', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-04', '1999-12-05', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-11',
               '1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [74]:
bunch_of_dates = pd.date_range(start='2000-01-01', end='2010-12-31', freq='24D')

In [75]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [78]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [80]:
s[s.dt.is_quarter_start]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [81]:
s[s.dt.is_month_start]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [98]:
company = "MSFT"
start = dt.datetime(2010, 1, 1)
end = dt.datetime(2017, 12, 31)

stocks = data.DataReader(name="MSFT", data_source="yahoo", start="2010-01-01", end="2017-12-31")

In [99]:
stocks.head(3)

                 Open   High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.10  30.590000  30.950001  25.148876  38409100
2010-01-05  30.850000  31.10  30.639999  30.959999  25.157001  49749600
2010-01-06  30.879999  31.08  30.520000  30.770000  25.002611  58182400

In [100]:
stocks.values

array([[  3.06200010e+01,   3.11000000e+01,   3.05900000e+01,
          3.09500010e+01,   2.51488760e+01,   3.84091000e+07],
       [  3.08500000e+01,   3.11000000e+01,   3.06399990e+01,
          3.09599990e+01,   2.51570010e+01,   4.97496000e+07],
       [  3.08799990e+01,   3.10800000e+01,   3.05200000e+01,
          3.07700000e+01,   2.50026110e+01,   5.81824000e+07],
       ...,
       [  8.56500020e+01,   8.59800030e+01,   8.52200010e+01,
          8.57099990e+01,   8.57099990e+01,   1.46780000e+07],
       [  8.59000020e+01,   8.59300000e+01,   8.55500030e+01,
          8.57200010e+01,   8.57200010e+01,   1.05943000e+07],
       [  8.56299970e+01,   8.60500030e+01,   8.55000000e+01,
          8.55400010e+01,   8.55400010e+01,   1.87174000e+07]])

In [101]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [103]:
stocks.index[0]

Timestamp('2010-01-04 00:00:00')

In [104]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2013, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

In [105]:
stocks.loc['2014-03-04']

Open         3.820000e+01
High         3.848000e+01
Low          3.807000e+01
Close        3.841000e+01
Adj Close    3.490956e+01
Volume       2.680240e+07
Name: 2014-03-04 00:00:00, dtype: float64

In [106]:
stocks.loc['2013-10-01' : '2013-10-07']

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-10-01  33.349998  33.610001  33.299999  33.580002  30.064585  36718700
2013-10-02  33.360001  34.029999  33.290001  33.919998  30.368986  46946800
2013-10-03  33.880001  34.000000  33.419998  33.860001  30.315264  38703800
2013-10-04  33.689999  33.990002  33.619999  33.880001  30.333172  33008100
2013-10-07  33.599998  33.709999  33.200001  33.299999  29.813894  35069300

In [108]:
bdays = pd.date_range(start='1991-04-12', end='2017-12-31', freq=pd.DateOffset(years=1))

In [112]:
stocks[stocks.index.isin(bdays)]

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-04-12  30.250000  30.490000  30.209999  30.320000  24.752169  37068800
2011-04-12  25.830000  25.850000  25.549999  25.639999  21.393782  36920400
2012-04-12  30.480000  31.040001  30.420000  30.980000  26.553921  38304000
2013-04-12  28.850000  29.020000  28.660000  28.790001  25.417442  62886300
2016-04-12  54.369999  54.779999  53.759998  54.650002  52.402275  24574200
2017-04-12  65.419998  65.510002  65.110001  65.230003  64.192131  17108500

In [113]:
stocks.head(3)

                 Open   High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.10  30.590000  30.950001  25.148876  38409100
2010-01-05  30.850000  31.10  30.639999  30.959999  25.157001  49749600
2010-01-06  30.879999  31.08  30.520000  30.770000  25.002611  58182400

In [115]:
someday = stocks.index[500]

In [117]:
someday.day
someday.is_month_end

False

In [119]:
stocks.insert(0, 'Day of Week', stocks.index.weekday_name)

In [120]:
stocks.head(3)

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2010-01-04,Monday,30.620001,31.10,30.590000,30.950001,25.148876,38409100
2010-01-05,Tuesday,30.850000,31.10,30.639999,30.959999,25.157001,49749600
2010-01-06,Wednesday,30.879999,31.08,30.520000,30.770000,25.002611,58182400

In [121]:
stocks.insert(1, 'Is Start of Month', stocks.index.is_month_start)

In [124]:
stocks[stocks['Is Start of Month']]

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-02-01,Monday,True,28.389999,28.480000,27.920000,28.410000,23.084957,85931100
2010-03-01,Monday,True,28.770000,29.049999,28.530001,29.020000,23.690893,43805400
2010-04-01,Thursday,True,29.350000,29.540001,28.620001,29.160000,23.805187,74768100
2010-06-01,Tuesday,True,25.530001,26.309999,25.520000,25.889999,21.231052,76152400
2010-07-01,Thursday,True,23.090000,23.320000,22.730000,23.160000,18.992315,92239400
2010-09-01,Wednesday,True,23.670000,23.950001,23.540001,23.900000,19.703693,65235900
2010-10-01,Friday,True,24.770000,24.820000,24.299999,24.379999,20.099426,62672300
2010-11-01,Monday,True,26.879999,27.219999,26.700001,26.950001,22.218191,61912100
2010-12-01,Wednesday,True,25.570000,26.250000,25.559999,26.040001,21.599871,74123500
2011-02-01,Tuesday,True,27.799999,28.059999,27.610001,27.990000,23.217369,62810700
2011-03-01,Tuesday,True,26.600000,26.780001,26.150000,26.160000,21.827667,60055000
2011-04-01,Friday,True,25.530001,25.530001,25.309999,25.480000,21.260283,63114200
2011-06-01,Wednesday,True,24.990000,25.100000,24.370001,24.430000,20.517782,74033500
2011-07-01,Friday,True,25.930000,26.170000,25.840000,26.020000,21.853161,52906200
2011-08-01,Monday,True,27.510000,27.690001,26.750000,27.270000,22.902981,61838400
2011-09-01,Thursday,True,26.459999,26.860001,26.209999,26.209999,22.151670,60510800
2011-11-01,Tuesday,True,26.190001,26.320000,25.860001,25.990000,21.965734,61182600
2011-12-01,Thursday,True,25.559999,25.629999,25.200001,25.280001,21.526558,48545400
2012-02-01,Wednesday,True,29.790001,30.049999,29.760000,29.889999,25.452087,67409900
2012-03-01,Thursday,True,31.930000,32.389999,31.850000,32.290001,27.676762,77344100
2012-05-01,Tuesday,True,32.049999,32.340000,31.950001,32.009998,27.436764,43832300
2012-06-01,Friday,True,28.760000,28.959999,28.440001,28.450001,24.545383,56634300
2012-08-01,Wednesday,True,29.590000,29.650000,29.209999,29.410000,25.373625,31721800
2012-10-01,Monday,True,29.809999,29.980000,29.420000,29.490000,25.611202,54042700
2012-11-01,Thursday,True,28.840000,29.559999,28.820000,29.520000,25.637255,72047900
2013-02-01,Friday,True,27.670000,28.049999,27.549999,27.930000,24.455706,55565900
2013-03-01,Friday,True,27.719999,27.980000,27.520000,27.950001,24.675844,34849700
2013-04-01,Monday,True,28.639999,28.660000,28.360001,28.610001,25.258524,29201100
2013-05-01,Wednesday,True,32.930000,33.080002,32.599998,32.720001,28.887070,54330900
2013-07-01,Monday,True,34.750000,34.990002,34.330002,34.360001,30.547678,31055400
...,...,...,...,...,...,...,...,...
2014-04-01,Tuesday,True,41.150002,41.590000,41.070000,41.419998,37.645252,32605000
2014-05-01,Thursday,True,40.240002,40.360001,39.950001,40.000000,36.354660,28787400
2014-07-01,Tuesday,True,41.860001,42.150002,41.689999,41.869999,38.322708,26917000
2014-08-01,Friday,True,43.209999,43.250000,42.599998,42.860001,39.228836,31170300
2014-10-01,Wednesday,True,46.270000,46.529999,45.849998,45.900002,42.273682,38088400
2014-12-01,Monday,True,47.880001,48.779999,47.709999,48.619999,45.061207,31191600
2015-04-01,Wednesday,True,40.599998,40.759998,40.310001,40.720001,38.008038,36752000
2015-05-01,Friday,True,48.580002,48.880001,48.400002,48.660000,45.419231,38937300
2015-06-01,Monday,True,47.060001,47.770000,46.619999,47.230000,44.370968,28837300
2015-07-01,Wednesday,True,44.459999,45.230000,44.099998,44.450001,41.759251,28343900
2015-09-01,Tuesday,True,42.169998,42.590000,41.660000,41.820000,39.547535,49688900
2015-10-01,Thursday,True,44.750000,44.750000,43.750000,44.610001,42.185936,28657900
2015-12-01,Tuesday,True,54.410000,55.230000,54.299999,55.220001,52.571377,39952800
2016-02-01,Monday,True,54.880001,55.090000,54.500000,54.709999,52.085831,44208500
2016-03-01,Tuesday,True,50.970001,52.590000,50.919998,52.580002,50.417416,33024500
2016-04-01,Friday,True,55.049999,55.610001,54.570000,55.570000,53.284435,24399200
2016-06-01,Wednesday,True,52.439999,52.950001,52.439999,52.849998,51.030754,25324800
2016-07-01,Friday,True,51.130001,51.720001,51.070000,51.160000,49.398933,21400400
2016-08-01,Monday,True,56.599998,56.750000,56.139999,56.580002,54.632366,26003400
2016-09-01,Thursday,True,57.009998,57.820000,57.009998,57.590000,55.954170,26075400
2016-11-01,Tuesday,True,59.970001,60.020000,59.250000,59.799999,58.101402,24533000
2016-12-01,Thursday,True,60.110001,60.150002,58.939999,59.200001,57.907009,34542100
2017-02-01,Wednesday,True,64.360001,64.620003,63.470001,63.580002,62.191349,39671500
2017-03-01,Wednesday,True,64.129997,64.989998,64.019997,64.940002,63.906754,26937500
2017-05-01,Monday,True,68.680000,69.550003,68.500000,69.410004,68.305626,31954400
2017-06-01,Thursday,True,70.239998,70.610001,69.449997,70.099998,69.380058,21603600
2017-08-01,Tuesday,True,73.099998,73.419998,72.489998,72.580002,71.834595,22132300
2017-09-01,Friday,True,74.709999,74.739998,73.639999,73.940002,73.570526,21736200
2017-11-01,Wednesday,True,83.680000,83.760002,82.879997,83.180000,82.764351,22307400
2017-12-01,Friday,True,83.599998,84.809998,83.220001,84.260002,84.260002,29532100

In [125]:
stocks.truncate(before='2011-02-05', after='2011-02-28')

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2011-02-07,Monday,False,27.799999,28.340000,27.790001,28.200001,23.391560,68980900
2011-02-08,Tuesday,False,28.100000,28.340000,28.049999,28.280001,23.457924,34904200
2011-02-09,Wednesday,False,28.190001,28.260000,27.910000,27.969999,23.200781,52905100
2011-02-10,Thursday,False,27.930000,27.940001,27.290001,27.500000,22.810925,76672400
2011-02-11,Friday,False,27.760000,27.809999,27.070000,27.250000,22.603552,83939700
2011-02-14,Monday,False,27.209999,27.270000,26.950001,27.230000,22.586962,56766200
2011-02-15,Tuesday,False,27.040001,27.330000,26.950001,26.959999,22.495173,44116500
2011-02-16,Wednesday,False,27.049999,27.070000,26.600000,27.020000,22.545244,70817900
2011-02-17,Thursday,False,26.969999,27.370001,26.910000,27.209999,22.703777,57207300
2011-02-18,Friday,False,27.129999,27.209999,26.990000,27.059999,22.578623,68667800
2011-02-22,Tuesday,False,26.780001,27.100000,26.520000,26.590000,22.186451,60889000
2011-02-23,Wednesday,False,26.530001,26.860001,26.430000,26.590000,22.186451,60234100
2011-02-24,Thursday,False,26.639999,27.059999,26.500000,26.770000,22.336641,64494200
2011-02-25,Friday,False,26.910000,26.950001,26.500000,26.549999,22.153074,53006300
2011-02-28,Monday,False,26.690001,26.860001,26.510000,26.580000,22.178112,51379900

In [127]:
stocks = data.DataReader(name='GOOG', data_source='yahoo', start=dt.date(2000, 1, 1), end=dt.datetime.now())

In [128]:
stocks.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [130]:
stocks.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2018-01-22', '2018-01-23', '2018-01-24', '2018-01-25',
               '2018-01-26', '2018-01-29', '2018-01-30', '2018-01-31',
               '2018-02-01', '2018-02-02'],
              dtype='datetime64[ns]', name='Date', length=3389, freq=None)

In [131]:
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2004-08-24', '2004-08-25', '2004-08-28', '2004-08-29',
               '2004-08-30', '2004-08-31', '2004-09-01', '2004-09-04',
               '2004-09-05', '2004-09-06',
               ...
               '2018-01-27', '2018-01-28', '2018-01-29', '2018-01-30',
               '2018-01-31', '2018-02-03', '2018-02-04', '2018-02-05',
               '2018-02-06', '2018-02-07'],
              dtype='datetime64[ns]', name='Date', length=3389, freq=None)

In [137]:
stocks.index - MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2018-01-31', '2018-01-31'],
              dtype='datetime64[ns]', name='Date', length=3389, freq=None)

In [138]:
stocks.index + BMonthEnd()

C:\Users\conra\Anaconda3\lib\site-packages\pandas\core\indexes\datetimes.py:840: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2018-01-31', '2018-01-31', '2018-01-31', '2018-01-31',
               '2018-01-31', '2018-01-31', '2018-01-31', '2018-02-28',
               '2018-02-28', '2018-02-28'],
              dtype='datetime64[ns]', name='Date', length=3389, freq=None)

In [139]:
timeA = pd.Timestamp('2016-03-31')
timeB = pd.Timestamp('2016-03-20')

In [141]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [145]:
pd.Timedelta(days=3, minutes=45, weeks=8, hours=12)

Timedelta('59 days 12:45:00')

In [146]:
pd.Timedelta('5 minutes')

Timedelta('0 days 00:05:00')

In [154]:
shipping = pd.read_csv('ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [156]:
shipping['Delivry Time'] = shipping['delivery_date'] - shipping['order_date']

In [157]:
shipping.head(3)

   order_date delivery_date Delivry Time
ID
1  1998-05-24    1999-02-05     257 days
2  1992-04-22    1998-03-06    2144 days
4  1991-02-10    1992-08-26     563 days

In [158]:
shipping['delivery_date'] + shipping['Delivry Time']

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
8     1994-04-14
9     1999-06-09
10    2005-11-05
11    1998-07-16
18    2000-02-08
19    1998-05-28
20    2004-09-24
23    2006-10-30
26    2000-05-26
30    1999-04-02
32    2007-01-25
33    1998-11-03
35    1998-12-15
36    1997-11-16
39    1995-11-27
41    2000-08-12
46    1997-06-02
50    2007-09-30
52    2000-01-24
53    2001-01-15
54    1999-11-30
58    1995-06-19
59    1996-03-03
60    1998-01-25
63    2000-05-13
         ...
932   1998-12-23
934   1995-08-30
935   2005-08-16
938   1997-11-04
939   1999-02-12
942   2002-01-20
943   2008-10-03
945   1996-11-09
946   2000-10-16
947   2007-06-04
949   1992-04-08
951   1996-11-02
953   1996-12-18
954   1994-07-10
956   2002-05-30
957   2004-05-17
958   2004-09-01
969   1997-01-08
972   2001-08-02
975   1998-03-19
981   1999-04-05
983   2000-02-26
984   2006-08-27
985   1997-05-12
986   1994-12-23
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]