In [2]:
import pandas as pd
from pandas_datareader import data

In [6]:
companies = ['MSFT', 'GOOG', 'AAPL', 'NFLX', 'AMZN']
p = data.DataReader(name=companies, data_source="yahoo", start='2010-01-01', end='2016-12-31')

In [7]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2016-12-30 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: AAPL to NFLX

In [8]:
p.items

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [9]:
p.major_axis

DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
               '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
               '2016-12-19', '2016-12-16',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [10]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'NFLX'], dtype='object')

In [11]:
p.axes

[Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
                '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
                '2016-12-19', '2016-12-16',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'NFLX'], dtype='object')]

In [12]:
p.ndim

3

In [13]:
p.dtypes

Adj Close    float64
Close        float64
High         float64
Low          float64
Open         float64
Volume       float64
dtype: object

In [14]:
p.shape

(6, 1762, 5)

In [15]:
p.size

52860

In [16]:
p.values

array([[[  1.13986984e+02,   7.49869995e+02,   7.71820007e+02,
           6.07827950e+01,   1.23800003e+02],
        [  1.14882584e+02,   7.65150024e+02,   7.82789978e+02,
           6.15262070e+01,   1.25330002e+02],
        [  1.14912109e+02,   7.72130005e+02,   7.85049988e+02,
           6.16142350e+01,   1.25889999e+02],
        ...,
        [  2.70172230e+01,   1.32250000e+02,   3.02164703e+02,
           2.50026110e+01,   7.61714300e+00],
        [  2.74539150e+01,   1.34690002e+02,   3.09978882e+02,
           2.51570010e+01,   7.35857200e+00],
        [  2.74065320e+01,   1.33899994e+02,   3.11349976e+02,
           2.51488760e+01,   7.64000000e+00]],

       [[  1.15820000e+02,   7.49869995e+02,   7.71820007e+02,
           6.21399990e+01,   1.23800003e+02],
        [  1.16730003e+02,   7.65150024e+02,   7.82789978e+02,
           6.29000020e+01,   1.25330002e+02],
        [  1.16760002e+02,   7.72130005e+02,   7.85049988e+02,
           6.29900020e+01,   1.25889999e+02],
        ...,
        [  3.01385710e+01,   1.32250000e+02,   3.02164703e+02,
           3.07700000e+01,   7.61714300e+00],
        [  3.06257130e+01,   1.34690002e+02,   3.09978882e+02,
           3.09599990e+01,   7.35857200e+00],
        [  3.05728570e+01,   1.33899994e+02,   3.11349976e+02,
           3.09500010e+01,   7.64000000e+00]],

       [[  1.17199997e+02,   7.67400024e+02,   7.82780029e+02,
           6.29900020e+01,   1.26570000e+02],
        [  1.17110001e+02,   7.73400024e+02,   7.85929993e+02,
           6.32000010e+01,   1.26139999e+02],
        [  1.18019997e+02,   7.80000000e+02,   7.94229980e+02,
           6.34000020e+01,   1.29070007e+02],
        ...,
        [  3.07471430e+01,   1.34729996e+02,   3.10907837e+02,
           3.10800000e+01,   7.67285700e+00],
        [  3.07985710e+01,   1.35479996e+02,   3.11891449e+02,
           3.11000000e+01,   7.65714300e+00],
        [  3.06428570e+01,   1.36610001e+02,   3.12721039e+02,
           3.11000000e+01,   7.96142900e+00]],

       [[  1.15430000e+02,   7.48280029e+02,   7.70409973e+02,
           6.20299990e+01,   1.23599998e+02],
        [  1.16400002e+02,   7.60849976e+02,   7.78919983e+02,
           6.27300000e+01,   1.24199997e+02],
        [  1.16199997e+02,   7.70500000e+02,   7.83200012e+02,
           6.28300020e+01,   1.25760002e+02],
        ...,
        [  3.01071430e+01,   1.31649994e+02,   3.01220856e+02,
           3.05200000e+01,   7.19714300e+00],
        [  3.04642850e+01,   1.31809998e+02,   3.08761810e+02,
           3.06399990e+01,   7.25857200e+00],
        [  3.03400000e+01,   1.33139999e+02,   3.10103088e+02,
           3.05900000e+01,   7.56571400e+00]],

       [[  1.16650002e+02,   7.66469971e+02,   7.82750000e+02,
           6.29599990e+01,   1.26239998e+02],
        [  1.16449997e+02,   7.72400024e+02,   7.83330017e+02,
           6.28600010e+01,   1.25949997e+02],
        [  1.17519997e+02,   7.76250000e+02,   7.93700012e+02,
           6.34000020e+01,   1.29070007e+02],
        ...,
        [  3.06257130e+01,   1.34600006e+02,   3.10907837e+02,
           3.08799990e+01,   7.36142900e+00],
        [  3.06571430e+01,   1.33429993e+02,   3.11563568e+02,
           3.08500000e+01,   7.65285700e+00],
        [  3.04900000e+01,   1.36250000e+02,   3.11449310e+02,
           3.06200010e+01,   7.93142800e+00]],

       [[  3.05863000e+07,   4.13940000e+06,   1.77000000e+06,
           2.55799000e+07,   4.45540000e+06],
        [  1.50395000e+07,   3.15350000e+06,   7.42200000e+05,
           1.01816000e+07,   3.44370000e+06],
        [  2.09059000e+07,   3.30100000e+06,   1.15380000e+06,
           1.46533000e+07,   4.38920000e+06],
        ...,
        [  1.38040000e+08,   7.17880000e+06,   8.00900000e+06,
           5.81824000e+07,   2.32904000e+07],
        [  1.50476200e+08,   8.85190000e+06,   6.04850000e+06,
           4.97496000e+07,   2.37531000e+07],
        [  1.23432400e+08,   7.59990000e+06,   3.93780000e+06,
           3.84091000e+07,   1.72396000e+07]]])

In [17]:
p.items

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [19]:
p['Volume']

                   AAPL        AMZN        GOOG         MSFT        NFLX
Date
2016-12-30   30586300.0   4139400.0   1770000.0   25579900.0   4455400.0
2016-12-29   15039500.0   3153500.0    742200.0   10181600.0   3443700.0
2016-12-28   20905900.0   3301000.0   1153800.0   14653300.0   4389200.0
2016-12-27   18296900.0   2638700.0    789100.0   11763200.0   5288200.0
2016-12-23   14181200.0   1976900.0    623400.0   12398000.0   2002100.0
2016-12-22   26085900.0   2543600.0    972200.0   22176600.0   4160700.0
2016-12-21   23783200.0   2044600.0   1211300.0   17096300.0   6514800.0
2016-12-20   21425000.0   2703600.0    951000.0   26028400.0   3937800.0
2016-12-19   27779400.0   3113200.0   1232100.0   34338200.0   4867300.0
2016-12-16   44351100.0   4828700.0   2428300.0   42204700.0   7821700.0
2016-12-15   46524500.0   3801900.0   1626500.0   27669900.0   7376200.0
2016-12-14   34031800.0   5454800.0   1704200.0   30352700.0   6110300.0
2016-12-13   43733800.0   5285300.0   2145200.0   35718900.0   5564500.0
2016-12-12   26374400.0   2963900.0   2104100.0   20198100.0   3917600.0
2016-12-09   34402600.0   2470900.0   1821900.0   27349400.0   4700800.0
2016-12-08   27068300.0   3189600.0   1488100.0   21220800.0   8987700.0
2016-12-07   29998700.0   3684900.0   1761000.0   30809000.0   8204700.0
2016-12-06   26195500.0   3794700.0   1690700.0   19907000.0  11513200.0
2016-12-05   34324500.0   4314700.0   1394200.0   23552700.0   7626300.0
2016-12-02   26528000.0   3561300.0   1452500.0   25515700.0   8953600.0
2016-12-01   37086900.0   4666000.0   3017900.0   34542100.0   8636900.0
2016-11-30   36162300.0   4625900.0   2392900.0   34655400.0   7715100.0
2016-11-29   28528800.0   3272300.0   1616600.0   22366700.0   7082300.0
2016-11-28   27194000.0   4438800.0   2188200.0   20732600.0   5278900.0
2016-11-25   11475900.0   1837100.0    587400.0    8409600.0   1616300.0
2016-11-23   27426400.0   3522500.0   1477400.0   21847200.0   4517400.0
2016-11-22   25965500.0   5311300.0   1593100.0   23206700.0   7007200.0
2016-11-21   29264600.0   4614600.0   1330600.0   19652600.0   7064500.0
2016-11-18   28428900.0   4373400.0   1547100.0   27686300.0   6746800.0
2016-11-17   27632000.0   3690100.0   1304000.0   32132700.0   6232700.0
...                 ...         ...         ...          ...         ...
2010-02-16  135934400.0   8932700.0   7356200.0   51935600.0   9922500.0
2010-02-12  163867200.0   8073500.0   4589000.0   81117200.0   8408400.0
2010-02-11  137586400.0   8343500.0   4851300.0   65993700.0   7203700.0
2010-02-10   92590400.0   6233200.0   5383700.0   48591300.0   5807900.0
2010-02-09  158221700.0   9223000.0   5675700.0   59195800.0   8811600.0
2010-02-08  119567700.0   9890200.0   5423500.0   52820600.0   9346400.0
2010-02-05  212576700.0  11024800.0   6353000.0   80960100.0  11099200.0
2010-02-04  189413000.0  12784000.0   6799200.0   77850000.0  11026400.0
2010-02-03  153832000.0  12405900.0   6037000.0   61397900.0   8761200.0
2010-02-02  174585600.0  23079700.0   8245600.0   54413700.0  10242400.0
2010-02-01  187469100.0  37774400.0   4530800.0   85931100.0  18914000.0
2010-01-29  311488100.0  29471300.0   8334700.0  193888500.0  24604300.0
2010-01-28  293375600.0  27293100.0   6500100.0  117513700.0  77352800.0
2010-01-27  430642100.0  14765300.0   7980200.0   63949500.0  23347100.0
2010-01-26  466777500.0   9559000.0   8767600.0   66639900.0  11343500.0
2010-01-25  266424900.0  12023900.0   8897200.0   63373000.0  13791400.0
2010-01-22  220441900.0  11568900.0  13689200.0  102004600.0   9395400.0
2010-01-21  152038600.0   9970600.0  12697400.0   73086700.0   8614900.0
2010-01-20  153038200.0   9074700.0   6543600.0   54849500.0   9685200.0
2010-01-19  182501900.0   8892600.0   8689500.0   46575700.0   5302500.0
2010-01-15  148516900.0  15376500.0  10939600.0   79913200.0  13031200.0
2010-01-14  108223500.0   9774900.0   8535300.0   63228100.0  17685500.0
2010-01-13  151473000.0  10723200.0  13077600.0   51863500.0  14422100.0
2010-01-12  148614900.0   9096300.0   9769600.0   65912100.0   6330100.0
2010-01-11  115557400.0   8779400.0  14519600.0   68754700.0   6783700.0
2010-01-08  111902700.0   9830500.0   9509900.0   51197400.0   8180900.0
2010-01-07  119282800.0  11030200.0  12912000.0   50559700.0   9955400.0
2010-01-06  138040000.0   7178800.0   8009000.0   58182400.0  23290400.0
2010-01-05  150476200.0   8851900.0   6048500.0   49749600.0  23753100.0
2010-01-04  123432400.0   7599900.0   3937800.0   38409100.0  17239600.0

[1762 rows x 5 columns]

In [22]:
p['Volume'].head()

                  AAPL       AMZN       GOOG        MSFT       NFLX
Date
2016-12-30  30586300.0  4139400.0  1770000.0  25579900.0  4455400.0
2016-12-29  15039500.0  3153500.0   742200.0  10181600.0  3443700.0
2016-12-28  20905900.0  3301000.0  1153800.0  14653300.0  4389200.0
2016-12-27  18296900.0  2638700.0   789100.0  11763200.0  5288200.0
2016-12-23  14181200.0  1976900.0   623400.0  12398000.0  2002100.0

In [24]:
p.Volume.head()

                  AAPL       AMZN       GOOG        MSFT       NFLX
Date
2016-12-30  30586300.0  4139400.0  1770000.0  25579900.0  4455400.0
2016-12-29  15039500.0  3153500.0   742200.0  10181600.0  3443700.0
2016-12-28  20905900.0  3301000.0  1153800.0  14653300.0  4389200.0
2016-12-27  18296900.0  2638700.0   789100.0  11763200.0  5288200.0
2016-12-23  14181200.0  1976900.0   623400.0  12398000.0  2002100.0

In [28]:
p.loc['Low', '2014-04-08', 'GOOG']

Date
2014-04-08    538.648193
Name: GOOG, dtype: float64

In [30]:
df = p.to_frame()
df.head()

                   Adj Close       Close        High         Low        Open  \
Date       minor
2016-12-30 AAPL   113.986984  115.820000  117.199997  115.430000  116.650002
           AMZN   749.869995  749.869995  767.400024  748.280029  766.469971
           GOOG   771.820007  771.820007  782.780029  770.409973  782.750000
           MSFT    60.782795   62.139999   62.990002   62.029999   62.959999
           NFLX   123.800003  123.800003  126.570000  123.599998  126.239998

                      Volume
Date       minor
2016-12-30 AAPL   30586300.0
           AMZN    4139400.0
           GOOG    1770000.0
           MSFT   25579900.0
           NFLX    4455400.0

In [32]:
p2 = df.to_panel()

C:\Users\conra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

In [33]:
p.major_axis

DatetimeIndex(['2016-12-30', '2016-12-29', '2016-12-28', '2016-12-27',
               '2016-12-23', '2016-12-22', '2016-12-21', '2016-12-20',
               '2016-12-19', '2016-12-16',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [34]:
p.major_xs('2016-09-06')

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2016-09-06 00:00:00 to 2016-09-06 00:00:00
Minor_axis axis: AAPL to NFLX

In [35]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2016-12-30 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: AAPL to NFLX

In [36]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'NFLX'], dtype='object')

In [38]:
p.minor_xs('MSFT')

            Adj Close      Close       High        Low       Open       Volume
Date
2016-12-30  60.782795  62.139999  62.990002  62.029999  62.959999   25579900.0
2016-12-29  61.526207  62.900002  63.200001  62.730000  62.860001   10181600.0
2016-12-28  61.614235  62.990002  63.400002  62.830002  63.400002   14653300.0
2016-12-27  61.897896  63.279999  64.070000  63.209999  63.209999   11763200.0
2016-12-23  61.858780  63.240002  63.540001  62.799999  63.450001   12398000.0
2016-12-22  62.162003  63.549999  64.099998  63.410000  63.840000   22176600.0
2016-12-21  62.152225  63.540001  63.700001  63.119999  63.430000   17096300.0
2016-12-20  62.152225  63.540001  63.799999  63.029999  63.689999   26028400.0
2016-12-19  62.230476  63.619999  63.770000  62.419998  62.560001   34338200.0
2016-12-16  60.939304  62.299999  62.950001  62.119999  62.950001   42204700.0
2016-12-15  61.213192  62.580002  63.150002  62.299999  62.700001   27669900.0
2016-12-14  61.311005  62.680000  63.450001  62.529999  63.000000   30352700.0
2016-12-13  61.604454  62.980000  63.419998  62.240002  62.500000   35718900.0
2016-12-12  60.812145  62.169998  62.299999  61.720001  61.820000   20198100.0
2016-12-09  60.616516  61.970001  61.990002  61.130001  61.180000   27349400.0
2016-12-08  59.677479  61.009998  61.580002  60.840000  61.299999   21220800.0
2016-12-07  60.029621  61.369999  61.380001  59.799999  60.009998   30809000.0
2016-12-06  58.640636  59.950001  60.459999  59.799999  60.430000   19907000.0
2016-12-05  58.904739  60.220001  60.590000  59.560001  59.700001   23552700.0
2016-12-02  57.955917  59.250000  59.470001  58.799999  59.080002   25515700.0
2016-12-01  57.907009  59.200001  60.150002  58.939999  60.110001   34542100.0
2016-11-30  58.943859  60.259998  61.180000  60.220001  60.860001   34655400.0
2016-11-29  59.755737  61.090000  61.410000  60.520000  60.650002   22366700.0
2016-11-28  59.286217  60.610001  61.020000  60.209999  60.340000   20732600.0
2016-11-25  59.207962  60.529999  60.529999  60.130001  60.299999    8409600.0
2016-11-23  59.080803  60.400002  61.099998  60.250000  61.009998   21847200.0
2016-11-22  59.785076  61.119999  61.259998  60.810001  60.980000   23206700.0
2016-11-21  59.530758  60.860001  60.970001  60.419998  60.500000   19652600.0
2016-11-18  59.031898  60.349998  61.139999  60.299999  60.779999   27686300.0
2016-11-17  59.315563  60.639999  60.950001  59.970001  60.410000   32132700.0
...               ...        ...        ...        ...        ...          ...
2010-02-16  23.143934  28.350000  28.370001  28.020000  28.129999   51935600.0
2010-02-12  22.694933  27.930000  28.059999  27.580000  27.809999   81117200.0
2010-02-11  22.849319  28.120001  28.400000  27.700001  27.930000   65993700.0
2010-02-10  22.743685  27.990000  28.240000  27.840000  28.030001   48591300.0
2010-02-09  22.759937  28.010000  28.340000  27.750000  27.969999   59195800.0
2010-02-08  22.524290  27.719999  28.080000  27.570000  28.010000   52820600.0
2010-02-05  22.768064  28.020000  28.280001  27.570000  28.000000   80960100.0
2010-02-04  22.621799  27.840000  28.500000  27.809999  28.379999   77850000.0
2010-02-03  23.263727  28.629999  28.790001  28.120001  28.260000   61397900.0
2010-02-02  23.125591  28.459999  28.500000  28.139999  28.370001   54413700.0
2010-02-01  23.084957  28.410000  28.480000  27.920000  28.389999   85931100.0
2010-01-29  22.898075  28.180000  29.920000  27.660000  29.900000  193888500.0
2010-01-28  23.694384  29.160000  29.870001  28.889999  29.840000  117513700.0
2010-01-27  24.108797  29.670000  29.820000  29.020000  29.350000   63949500.0
2010-01-26  23.970657  29.500000  29.850000  29.090000  29.200001   66639900.0
2010-01-25  23.824394  29.320000  29.660000  29.100000  29.240000   63373000.0
2010-01-22  23.531868  28.959999  30.200001  28.840000  30.000000  102004600.0
2010-01-21  24.385063  30.010000  30.719999  30.000000  30.610001   73086700.0
2010-01-20  24.856350  30.590000  30.940001  30.309999  30.809999   54849500.0
2010-01-19  25.270758  31.100000  31.240000  30.680000  30.750000   46575700.0
2010-01-15  25.075747  30.860001  31.240000  30.709999  31.080000   79913200.0
2010-01-14  25.157001  30.959999  31.100000  30.260000  30.309999   63228100.0
2010-01-13  24.661339  30.350000  30.520000  30.010000  30.260000   51863500.0
2010-01-12  24.433821  30.070000  30.400000  29.910000  30.150000   65912100.0
2010-01-11  24.596333  30.270000  30.760000  30.120001  30.709999   68754700.0
2010-01-08  24.913233  30.660000  30.879999  30.240000  30.280001   51197400.0
2010-01-07  24.742592  30.450001  30.700001  30.190001  30.629999   50559700.0
2010-01-06  25.002611  30.770000  31.080000  30.520000  30.879999   58182400.0
2010-01-05  25.157001  30.959999  31.100000  30.639999  30.850000   49749600.0
2010-01-04  25.148876  30.950001  31.100000  30.590000  30.620001   38409100.0

[1762 rows x 6 columns]

In [40]:
p.minor_xs('GOOG').head(3)

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2016-12-30,771.820007,771.820007,782.780029,770.409973,782.750000,1770000.0
2016-12-29,782.789978,782.789978,785.929993,778.919983,783.330017,742200.0
2016-12-28,785.049988,785.049988,794.229980,783.200012,793.700012,1153800.0

In [41]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2016-12-30 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: AAPL to NFLX

In [43]:
p2 = p.transpose(2, 1, 0)

In [44]:
p2

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 6 (minor_axis)
Items axis: AAPL to NFLX
Major_axis axis: 2016-12-30 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: Adj Close to Volume

In [47]:
p2['AAPL']
p2['GOOG']

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2016-12-30,771.820007,771.820007,782.780029,770.409973,782.750000,1770000.0
2016-12-29,782.789978,782.789978,785.929993,778.919983,783.330017,742200.0
2016-12-28,785.049988,785.049988,794.229980,783.200012,793.700012,1153800.0
2016-12-27,791.549988,791.549988,797.859985,787.656982,790.679993,789100.0
2016-12-23,789.909973,789.909973,792.739990,787.280029,790.900024,623400.0
2016-12-22,791.260010,791.260010,793.320007,788.580017,792.359985,972200.0
2016-12-21,794.559998,794.559998,796.676025,787.099976,795.840027,1211300.0
2016-12-20,796.419983,796.419983,798.650024,793.270020,796.760010,951000.0
2016-12-19,794.200012,794.200012,797.659973,786.270020,790.219971,1232100.0
2016-12-16,790.799988,790.799988,800.856018,790.289978,800.400024,2428300.0
2016-12-15,797.849976,797.849976,803.000000,792.919983,797.340027,1626500.0
2016-12-14,797.070007,797.070007,804.000000,794.010010,797.400024,1704200.0
2016-12-13,796.099976,796.099976,804.380005,793.340027,793.900024,2145200.0
2016-12-12,789.270020,789.270020,791.250000,784.354980,785.039978,2104100.0
2016-12-09,789.289978,789.289978,789.429993,779.020996,780.000000,1821900.0
2016-12-08,776.419983,776.419983,778.179993,767.229980,772.479980,1488100.0
2016-12-07,771.190002,771.190002,771.359985,755.799988,761.000000,1761000.0
2016-12-06,759.109985,759.109985,768.830017,757.340027,764.729980,1690700.0
2016-12-05,762.520020,762.520020,763.900024,752.900024,757.710022,1394200.0
2016-12-02,750.500000,750.500000,754.000000,743.099976,744.590027,1452500.0
2016-12-01,747.919983,747.919983,759.849976,737.025024,757.440002,3017900.0
2016-11-30,758.039978,758.039978,772.989990,754.830017,770.070007,2392900.0
2016-11-29,770.840027,770.840027,778.500000,768.239990,771.530029,1616600.0
2016-11-28,768.239990,768.239990,779.530029,759.799988,760.000000,2188200.0
2016-11-25,761.679993,761.679993,765.000000,760.520020,764.260010,587400.0
2016-11-23,760.989990,760.989990,768.283020,755.250000,767.729980,1477400.0
2016-11-22,768.270020,768.270020,776.960022,767.000000,772.630005,1593100.0
2016-11-21,769.200012,769.200012,769.700012,760.599976,762.609985,1330600.0
2016-11-18,760.539978,760.539978,775.000000,760.000000,771.369995,1547100.0
2016-11-17,771.229980,771.229980,772.700012,764.229980,766.919983,1304000.0
...,...,...,...,...,...,...
2010-02-16,268.901062,268.901062,270.306915,265.423676,266.700378,7356200.0
2010-02-12,264.837494,264.837494,266.839478,263.535950,264.762970,4589000.0
2010-02-11,266.466888,266.466888,268.498688,263.039185,264.936829,4851300.0
2010-02-10,265.498199,265.498199,267.157410,262.140045,265.309418,5383700.0
2010-02-09,266.486755,266.486755,269.015320,265.806183,268.026733,5675700.0
2010-02-08,265.011353,265.011353,269.248810,264.047638,264.529480,5423500.0
2010-02-05,263.928406,263.928406,265.026245,259.541931,262.492737,6353000.0
2010-02-04,261.687958,261.687958,267.261719,261.081909,266.764954,6799200.0
2010-02-03,268.662598,268.662598,269.298462,262.408295,262.626862,6037000.0
2010-02-02,263.843964,263.843964,265.751556,262.100281,265.751556,8245600.0
2010-02-01,264.787811,264.787811,266.173798,263.436584,265.572693,4530800.0
2010-01-29,263.257751,263.257751,268.747070,261.106750,267.505127,8334700.0
2010-01-28,265.418701,265.418701,271.732635,263.585632,270.485748,6500100.0
2010-01-27,269.298462,269.298462,272.055542,265.925415,268.886169,7980200.0
2010-01-26,269.457428,269.457428,273.024231,266.412231,267.246826,8767600.0
2010-01-25,268.255249,268.255249,273.163330,266.024780,271.528961,8897200.0
2010-01-22,273.227905,273.227905,283.456390,265.701874,280.426086,13689200.0
2010-01-21,289.606384,289.606384,291.513977,284.276062,289.834900,12697400.0
2010-01-20,288.329681,288.329681,291.096710,285.786224,291.096710,6543600.0
2010-01-19,291.911407,291.911407,293.302338,286.283020,288.722137,8689500.0
2010-01-15,288.126007,288.126007,294.862213,287.152344,294.752930,10939600.0
2010-01-14,293.019196,293.019196,295.180145,289.521942,290.063416,8535300.0
2010-01-13,291.648102,291.648102,292.288940,285.095734,286.382355,13077600.0
2010-01-12,293.332153,293.332153,297.147339,292.100159,296.893982,9769600.0
2010-01-11,298.612823,298.612823,300.276978,295.100647,300.276978,14519600.0
2010-01-08,299.064880,299.064880,299.675903,292.651581,294.087250,9509900.0
2010-01-07,295.130463,295.130463,303.029083,294.410156,302.731018,12912000.0
2010-01-06,302.164703,302.164703,310.907837,301.220856,310.907837,8009000.0
2010-01-05,309.978882,309.978882,311.891449,308.761810,311.563568,6048500.0
2010-01-04,311.349976,311.349976,312.721039,310.103088,311.449310,3937800.0

In [48]:
p2.major_xs('2010-01-04')

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1 (major_axis) x 6 (minor_axis)
Items axis: AAPL to NFLX
Major_axis axis: 2010-01-04 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: Adj Close to Volume

In [50]:
p3 = p.swapaxes('items', 'minor')

C:\Users\conra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

In [51]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2016-12-30 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: AAPL to NFLX

In [52]:
p3

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 6 (minor_axis)
Items axis: AAPL to NFLX
Major_axis axis: 2016-12-30 00:00:00 to 2010-01-04 00:00:00
Minor_axis axis: Adj Close to Volume